<!-- extend base layout -->
{% extends "sb-admin/master.html" %}

{% from "sb-admin/macros/dashboard/counticon.html" import count_icon %}
{% from "sb-admin/macros/dashboard/areachart.html" import area_chart %}
{% from "sb-admin/macros/dashboard/barchart.html" import bar_chart %}
{% from "sb-admin/macros/dashboard/timeline.html" import timeline %}
{% from "sb-admin/macros/dashboard/notification.html" import notification %}
{% from "sb-admin/macros/dashboard/donut.html" import donut %}
{% from "sb-admin/macros/dashboard/chat.html" import chat %}

{% block body %}

{% endblock %}

{% block tail %}

    <!-- Timeline CSS -->
    <link href="/dist/css/timeline.css" rel="stylesheet">

    <!-- Morris Charts JavaScript -->
    <script src="/bower_components/raphael/raphael-min.js"></script>
    <script src="/bower_components/morrisjs/morris.min.js"></script>
    <script src="/js/morris-data.js"></script>
{% endblock %}
